@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.home-container {
    margin-top: 8rem;
    padding-left: 8rem;
}

.home-title {
    color: #062847;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.02em;
}

.home-text {
    width: 39rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #5A6774;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.25rem;
    line-height: 2.25rem;
}